{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}
     <title>Login via Email | Class Central</title>
     <meta name="description"
           content="Login via Email"/>
 {% endblock %}

 {% set pageLoad = app.session.get('leEmail') is empty %}
 {% set leEmailSent = app.session.get('leUser') is not empty %}
 {% set leUser =  app.session.get('leUser') %}
 {% set leEmail =  app.session.get('leEmail') %}

{% block contentheader %}
  <section class="classcentral-style auth" id="auth-email-sign">

    {% if not leEmailSent %}
      <form
        class="bg-white form shadow radius width-centered width-3-4 border-box"
        action="{{ path('loginViaEmail_sendemail') }}"
        method="post"
      >
        <div class="padding-large border-bottom border--thin border--gray-light text-center">
          <h4 class="head-3 inline-block margin-right-medium">Email me a link to sign in</h4>
          <p class="text-2 text--gray margin-top-medium">Enter your email address below.<br> We'll look for your account and send you a link that will log you into Class Central.</p>
        </div>
        <div class="padding-large">
          {% if not pageLoad %}
            <!-- error no account exists -->
            <div class="radius bg-red-light text--red text-left text-3 padding-small padding-right-xlarge margin-bottom-medium relative">
              Account with email {{ app.session.get('leEmail') }} does not exist
              <button type="button" data-remove-parent class="block icon--xsmall icon-x absolute top right margin-xsmall"></button>
            </div>

            <script type="text/javascript">
                CC.track("login_via_email", {
                  user_info: {
                    cc_user_found: false,
                    email: "{{ app.session.get('leEmail') }}",
                  }
                });
            </script>
          {% endif %}
          <fieldset>
            <label for="email" class="text-3 block margin-bottom-xsmall">Your email</label>
            <input type="text" id="email" name="email" class="input--medium radius width-100">
          </fieldset>
          <fieldset class="text-center">
            <button type="submit" class="btn-blue padding-horz-xxlarge margin-top-large">Request email with sign in link</button>
          </fieldset>
        </div>
      </form>
    {% else %}
        <script type="text/javascript">
            {% set ccSignupType = 1 %}
            {% if leUser.signupType is not empty %}
                {% set ccSignupType = leUser.signupType %}
            {% endif %}
            CC.track("login_via_email", {
                user_info: {
                    cc_user_found: true,
                    user_id: "{{ leUser.id }}",
                    email: "{{ leEmail }}",
                    last_login: "{{ leUser.lastLogin|date('Y-m-d\TH:i:s.Z\Z') }}",
                    signupType: {{ ccSignupType }}
                }
            });
        </script>
      <!-- signin email sent -->
      <div class="bg-white form shadow radius width-centered width-3-4 border-box">
        <div class="padding-large border-bottom border--thin border--gray-light text-center">
          <i class="icon--xlarge icon-checkmark"></i>
          <h4 class="head-3 margin-right-medium" style="font-weight: 400;">Email Sent</h4>
        </div>
        <div class="padding-large text-center">
          <p class="margin-vert-large margin-bottom-medium">Check your inbox to login.</p>
        </div>
      </div>
    {% endif %}


    <div class="margin-top-large text-center">
      New to Class Central?
      <a
        data-track-click="auth_click"
        data-track-props='{ "type": "User", "title": "Register" }'
        id="navbar-create-free-account"
        href="{{ path('signup') }}"
        title="Sign up for Class Central"
        class="text--blue inline-block padding-left-small"
      >
        Create a free account
      </a>
    </div>
  </section>


  {% set remove = app.session.remove('leEmail') %}
  {% set remove = app.session.remove('leUser')  %}
{% endblock %}
