{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}
     <title>Forgot Password | Class Central</title>
     <meta name="description"
           content="Forgot Password"/>
     <meta property="og:title" content="Forgot Password " />
     <meta property="og:url" content="https://www.class-central.com/forgotpassword" />
     <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     <meta property="og:site_name" content="Class Central"/>
     <meta property="og:description" content="Reset your password for your Class Central account" />
     <meta property="og:type" content="website" />
     <meta property="fb:admins" content="{{ fb_admins }}" />

     <!-- Twitter card integration -->
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:title" content="Forgot Password">
     <meta name="twitter:description" content="Reset your password for your Class Central account">
     <meta name="twitter:domain" content="www.class-central.com">

 {% endblock %}

{% set pageLoad = app.session.get('fpEmail') is empty %}
{% set fpEmailSent = app.session.get('fpUser') is not empty %}
{% set fpUser =  app.session.get('fpUser') %}


{% block contentheader %}
    <section class="classcentral-style auth" id="auth-forget">

        {% if not fpEmailSent %}
        <form
          class="bg-white form shadow radius width-centered width-3-4 border-box"
          action="{{ path('forgotpassword_sendemail') }}"
          method="post"
        >
          <div class="padding-horz-large padding-top-large padding-bottom-xlarge border-bottom border--thin border--gray-light text-center">
            <h4 class="head-3 inline-block margin-right-medium">Forgot password</h4>
            <p class="text-2 text--gray margin-top-medium">Enter your email address below. We'll look for your account and send you a password reset email.</p>
          </div>

          <div class="padding-large">
            {% if not pageLoad %}
              <!-- error no account exists -->
              <div class="radius bg-red-light text--red text-left text-3 padding-small padding-right-xlarge margin-bottom-medium relative">
                Account with email {{ app.session.get('fpEmail') }} does not exist
                <button type="button" data-remove-parent class="block icon--xsmall icon-x absolute top right margin-xsmall"></button>
              </div>
            {% endif %}
            <fieldset>
              <label for="email" class="text-3 block margin-bottom-xsmall">Your email</label>
              <input type="email" id="email" name="email" class="input--medium radius width-100">
            </fieldset>
            <fieldset class="text-center">
              <button type="submit" class="btn-blue padding-horz-xxlarge margin-top-large">Send password reset</button>
            </fieldset>
          </div>
        </form>
        {% else %}
            <!-- forget password email sent -->
            <div class="bg-white form shadow radius width-centered width-3-4 border-box">
              <div class="padding-large border-bottom border--thin border--gray-light text-center">
                <i class="icon--xlarge icon-checkmark"></i>
                <h4 class="head-3 margin-right-medium" style="font-weight: 400;">Email Sent</h4>
              </div>
              <div class="padding-large text-center">
                <p class="margin-vert-large margin-bottom-medium">Check your inbox to reset your password.</p>
              </div>
            </div>
      {% endif %}


      <div class="margin-top-large text-center">
        New to Class Central?
        <a
          data-track-click="auth_click"
          data-track-props='{ "type": "User", "title": "Register" }'
          id="navbar-create-free-account"
          href="{{ path('signup') }}"
          title="Sign up for Class Central"
          class="text--blue inline-block padding-left-small"
        >
          Create a free account
        </a>
      </div>
    </section>
    {% if not pageLoad %}
        <script type="text/javascript">
            {% if fpEmailSent %}
            {% set ccSignupType = 1 %}
            {% if fpUser.signupType is not empty %}
                {% set ccSignupType = fpUser.signupType %}
            {% endif %}
                CC.track("forgot_password", {
                    user_info: {
                    cc_user_found: 1,
                    user_id: "{{ fpUser.id }}",
                    email: "{{ app.session.get('fpEmail') }}",
                    last_login: "{{ fpUser.lastLogin|date('Y-m-d\TH:i:s.Z\Z') }}",
                    signup_type: {{ ccSignupType }}
                    }
                });
            {% else %}
                CC.track("forgot_password", {
                    user_info: {
                        cc_user_found: 0,
                        email: "{{ app.session.get('fpEmail') }}",
                    }
                });
            {% endif %}
        </script>
    {% endif %}

    {# clean out the variables #}
    {% set remove = app.session.remove('fpEmail')  %}
    {% set remove = app.session.remove('fpUser')  %}
{% endblock %}
