{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>{{language.name}} language free online courses/MOOCs list | Class Central</title>
    <meta name="description" content="List of {{language.name}} free online courses/MOOCs aggregated by Class Central. Courses are categorized according to start dates into Recently Started, Just Announced, Upcoming, Self Paced, Ongoing, and Finished"/>

    <meta property="og:title" content="{{language.name}} language MOOCs/free online courses list | Class Central" />
    <meta property="og:url" content="{{ baseurl }}{{ path('lang',{'slug': slug}) }}" />
    {% if pageInfo.imageUrl %}
        <meta property="og:image" content="{{ rackspace_cdn_base_url }}{{ pageInfo.imageUrl }}">
    {% else %}
        <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    {% endif %}
    <meta property="og:description" content="List of {{language.name}} languagefree online courses/MOOCs aggregated by Class Central. Courses are categorized according to start dates into Recently Started, Just Announced, Upcoming, Self Paced, Ongoing, and Finished" />
    <meta property="og:type" content="website" />

    <!-- Twitter card integration -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@classcentral">
    <meta name="twitter:title" content="List of {{language.name}} language free online courses/MOOCs">
    <meta name="twitter:description" content="List of {{language.name}} free online courses/MOOCs aggregated by Class Central">
    <meta name="twitter:domain" content="www.class-central.com">

    <link rel="canonical" href="{{ baseurl }}{{ path('lang',{'slug': slug}) }}" />

    {# paginated content #}
    {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
        { 'pageNo': pageNo, 'totalCourses': results.hits.total }
    %}
{% endblock %}

{%  block content %}

    {% include 'ClassCentralSiteBundle:Helpers:pageHeader.html.twig' with {'info':pageInfo} %}

    <section class="courses">
        <h2 class="section-heading">
            <span>Courses</span>
        </h2>
        <div id="filter-wrap">
            <div class="mobile-filter-btn-wrap">
                <a href="#" class="mobile-filter-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-3 filter-column">
                    {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects, 'offSessions' : allSessions } %}
                </div>
                <div class="col-sm-8 col-lg-9 table-column">
                    <div class="tables-wrap">
                        {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'languagetable'} %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
