{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>Personalization | Class Central</title>
{% endblock %}


{% set followButtonStyle = "display: inline-block; background-color: transparent; float: left; padding-right: 10px; padding-bottom: 10px; font-size: 1.1em" %}

{% block content %}
    <div>
        <div class="intro-wrap">
            <div class="description-wrap">
                <h1 class='cc-page-header'>Follows</h1>
                <p>
                    Personalize your experience by following subjects, universities, and course providers. Get regular updates via email and <b>never miss a course</b>.

                    {% if numFollows < 10 %}
                         <p>To unlock your personalized course recommendations you need at least 10 follows.</p>
                    {% elseif not isFollowingASubject %}
                        <p>To unlock your personalized course recommendations you need to follow at least one subject. </p>
                    {% else %}
                    <p>
                        <b>
                            <a href="{{ path('user_recommendations') }}">Check out your personalized Course Recommendations <sup>BETA</sup></a>
                        </b>
                    </p>
                    {% endif %}
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">

            <p>Following <b><span class="subject-user-follow-count">{{ numSubjectsFollowed }}</span> subjects</b> </p>
            {% for subject in subjects.parent  %}
                <div class="header-follow-button ui-theme-light" style="{{ followButtonStyle }}" >
                    {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                    item : followSubjectItem,
                    item_id : subject.id,
                    itemName: subject.name,
                    followed: user_session.isItemFollowed(followSubjectItem,subject.id),
                    hideItemName: false,
                    hideLogo: true,
                    hideFollowing: true
                    } %}
                </div>
            {% endfor %}

            {# Children Subjects #}
            {% for  subject in childSubjects  %}
                    <div class="header-follow-button ui-theme-light" style="{{ followButtonStyle }}" >
                        {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                        item : followSubjectItem,
                        item_id : subject.id,
                        itemName: subject.name,
                        followed: user_session.isItemFollowed(followSubjectItem,subject.id),
                        hideItemName: false,
                        hideLogo: true,
                        hideFollowing: true
                        } %}
                    </div>
            {% endfor %}
        </div>
    </div>


    <br/><br/><br/>
    <div class="row">
        <div class="col">
            <div>
                <p>Following <b><span class="institution-user-follow-count">{{ numInstitutionFollowed }}</span> universities</b> </p>
                {% set insCount = 0 %}
                {% for institution in institutions if insCount <= 63 %}
                    <div>
                        <div class="header-follow-button ui-theme-light" style="{{ followButtonStyle }}" >
                            {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                            item : followInstitutionItem,
                            item_id : institution.id,
                            itemName: institution.name,
                            followed: user_session.isItemFollowed(followInstitutionItem,institution.id),
                            hideItemName: false,
                            hideLogo: true,
                            hideFollowing: true
                            } %}
                        </div>
                    </div>
                    {% set insCount = insCount + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>

    <br/><br/><br/>
    <div class="row">
        <div class="col">
            <p>Following <b><span class="provider-user-follow-count">{{ numProvidersFollowed }}</span> providers</b> </p>
            {% for provider in providers %}
                <div class="header-follow-button ui-theme-light" style="{{ followButtonStyle }}" >
                    {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                    item : followProviderItem,
                    item_id : provider.id,
                    itemName: provider.name,
                    followed: user_session.isItemFollowed(followProviderItem,provider.id),
                    hideItemName: false,
                    hideLogo: true,
                    hideFollowing: true
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>

    <br/><br/><br/>
    <div class="row">
        <div class="col">
            <h4>Select which languages you want to see courses in</h4>
            <p>Following <b><span class="language-user-follow-count">{{ numLanguagesFollowed }}</span> languages</b> </p>
            {% for language in languages %}
                <div class="header-follow-button ui-theme-light" style="{{ followButtonStyle }}" >
                    {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                    item : followLanguageItem,
                    item_id : language.id,
                    itemName: language.name,
                    followed: user_session.isItemFollowed(followLanguageItem,language.id),
                    hideItemName: false,
                    hideLogo: true,
                    hideFollowing: true
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
