{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% set h1Title='Universities' %}
{% set urlPath = 'ClassCentralSiteBundle_university' %}
{% set btnTitle ='University' %}
{% if not isUniversity %}
    {% set h1Title='Institutions' %}
    {% set urlPath = 'ClassCentralSiteBundle_institution' %}
    {% set btnTitle ='Institution' %}
{% endif %}

{% block headmeta %}

<title>List of {{institutions|length}} {{ h1Title }} offering MOOCs/free online courses | Class Central</title>
<meta name="description" content="List of {{institutions|length}} {{ h1Title }} offering MOOCs/free online courses"/>
<meta property="og:title" content="List of {{institutions|length}} {{ h1Title }} offering MOOCs/free online courses" />
<meta property="og:url" content="{{ path(h1Title|lower) }}" />
<meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">

<meta property="og:description" content="List of {{institutions|length}} {{ h1Title }} offering MOOCs/free online courses | Class Central" />
<meta property="og:type" content="website" />

<!-- Twitter card integration -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@classcentral">
<meta name="twitter:title" content="List of {{institutions|length}} {{ h1Title }} offering MOOCs/free online courses">
<meta name="twitter:description" content="List of {{institutions|length}} {{ h1Title }} offering MOOCs/free online courses | Class Central">
<meta name="twitter:domain" content="www.class-central.com">

{% endblock %}

{%  block content %}

    <div class="universities">
        <div class="intro-wrap">
            <div class="description-wrap">
                <h1 class='cc-page-header'>{{ h1Title }} ({{ institutions|length  }})</h1>
            </div>
        </div>

        <table class="list-of-universities">
            <tbody>
            {% for institution in institutions %}
                <tr>
                    <td>
                        <div class="header-follow-button ui-theme-light" style="display: inline-block; background-color: transparent;" >
                            {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                            item : followItem,
                            item_id : institution.id,
                            itemName: institution.name,
                            followed: user_session.isItemFollowed(followItem,institution.id),
                            hideItemName: true
                            } %}
                        </div>
                    </td>
                    <td><a href="{{ path(urlPath, {'slug' : institution.slug}) }}" title="{{ institution.name }} MOOCs and Reviews" class="university-name">{{ institution.name }}</a></td>
                    <td><span class="courses-number">{{ institution.count }}{% if institution.count == 1 %} course {% else %} courses {% endif %}</span></td>
                    <td><a  href="{{ path(urlPath, {'slug' : institution.slug}) }}" title="{{ institution.name }} MOOCs and Reviews" class="btn">View {{ btnTitle }} Page</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock %}