{% extends 'ClassCentralSiteBundle::base.html.twig' %}
{% block content %}
     <script type="text/javascript" src="/bundles/classcentralsite/slashpixel/js/list.min.js"></script>

    <h1>Course list</h1>
    <div id="filter-wrap">
    <input class="filter-search" placeholder="Search for a course"/><br/>
    <span id="count"></span>
    <form method="post">
        <select name="subject">
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name  }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Update subjects">

            <table class="records_list">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Update Subject</th>
                </tr>
                </thead>
                <tbody class="list">
                {% for course in courses %}
                    <tr>
                        <td><a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.id }}</a></td>
                        <td><a href="{{ path('ClassCentralSiteBundle_mooc',{ 'id': course.id,'slug': course.slug}) }}" class="courseName">
                            {{ course.name }}
                            </a>
                        </td>
                        <td><span class="subjectName"> {{ course.stream.name }}</span></td>
                        <td><input type="checkbox" name="courses[]" value="{{ course.id }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <input type="submit" value="Update subjects">
    </form>
    </div>


{% endblock %}

{% block customJS %}

    $(function() {
        var options = {
        valueNames: [ 'courseName','subjectName'],
        searchClass: ['filter-search'],
        page: 10000,
        };
        var list = new List('filter-wrap',options);
        list.on("updated",function(){
            $('#count').html(list.visibleItems.length);
        });
    });
{% endblock %}