<div class="cat-filter-wrap">

    {% if numCredentials is defined and numCredentials > 0 %}

        <div class="category-filter category-filter--dark-ribbon">

            <div class="ribbon-wrap">
                <div class="ribbon">
                    <span class="number-of-courses"><span id="number-of-credentials">{{ numCredentials }}</span> Credentials available</span>
                </div>
            </div>

            <ul class="filter-nav">


                <li class="filter-credentials active">
                    <ul class="main-filter-dropdown">
                        <li id="credential-toggle">
                            <div class="tick-wrap">
                               <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                                <a href="#" class="filter-dropdown-toggle sub-category" data-type="credential">View Credentials</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul><!-- /.filter-nav -->

        </div>

    {% endif %}

    <div class="category-filter">
        {# hide search box on search pages #}
        {% if page is defined and page != 'search' and false %}
            <div class="filter-search-wrap">
                <input class="filter-search" placeholder="Search for a course"/>
                <div class="filter-search-icon">
                    <svg viewBox="0 0 33 32" class="icon-search">
                        <use xlink:href="#icon-cc-logo2"></use>
                    </svg>
                </div>
            </div>
        {% endif %}

        {% if results is defined and results.hits is defined %}
        <div class="ribbon-wrap">
            <div class="ribbon">
                <span class="number-of-courses"><span id="number-of-courses">{{ results.hits.total }} </span> courses available</span>
            </div>
        </div>
        {% endif %}


        <ul class="filter-nav">

            {# show a certificate filter #}
            {% if numCoursesWithCertificates is defined and numCoursesWithCertificates > 0 %}
            <li class="filter-certificate active">
                <ul class="main-filter-dropdown">
                    <li id="certificate-toggle">
                        <div class="tick-wrap">
                               <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                            <a href="#" class="filter-dropdown-toggle sub-category" data-type="certificate">With Certificate ({{ numCoursesWithCertificates }})</a>
                        </div>
                    </li>
                </ul>
            </li>
            {% endif %}

            {# user course lists #}
            {% if userLists is defined and userLists|length > 0 %}
                <li class="filter-courses active">
                    <a href="#" class="filter-dropdown-toggle main-category">
                        My Courses
                    <span class="arrow-up">
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span class="arrow-down">
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                    </a>
                    <ul class="main-filter-dropdown">
                        {% for list in listTypes if list.slug in userLists %}
                            <li>
                                <div class="tick-wrap">
                                <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                                    <a href="#" class="filter-dropdown-toggle sub-category" data-course-list="{{ list.slug }}" data-type="course-list">{{ list.desc  }}</a>
                                </div>
                            </li>
                        {% endfor %}

                        {% if searchTerms|length > 0 %}
                            <li>
                                <div class="tick-wrap">
                               <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                                    <a href="#" class="filter-dropdown-toggle sub-category" data-course-list="searchTerm" data-type="course-list">Search Terms</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>

                </li>
            {% endif %}



            {# sessions #}
            {% if offSessions is defined and offSessions|length > 0 %}
                <li class="filter-sessions active">
                    <a href="#" class="filter-dropdown-toggle main-category">
                        By start date
                    <span class="arrow-up">
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span class="arrow-down">
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                    </a>

                    <ul class="main-filter-dropdown">
                        {% for slug,session in offSessions %}
                            <li id="session-{{ slug }}">
                                <div class="tick-wrap">
                               <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                                    <a href="#" class="filter-dropdown-toggle sub-category" data-session="{{ slug }}" data-type="session"> {{ session.nav  }} ({{ session.count }})</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}


            {# subjects #}
            {% if offSubjects is defined and offSubjects|length > 0  %}
                <li class="filter-subjects active">
                    <a href="#" class="filter-dropdown-toggle main-category">
                        By subject
                    <span class="arrow-up">
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span class="arrow-down">
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                    </a>
                    <ul class="main-filter-dropdown">
                        {% for pSub in offSubjects %}
                            <li id="subject-{{ pSub.slug }}" data-type="parent-sub">
                                <div class="tick-wrap">
                                 <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                                    <a href="#" class="filter-dropdown-toggle sub-category" data-subject="{{ pSub['slug'] }}" data-type="subject"> {% if pSub.children|length > 0 %}<span class="plus-sign">+ </span><span class="minus-sign">- </span> {% endif %}{{ pSub.name  }} ({{ pSub.count }})</a>
                                </div>
                                {% if pSub.children|length > 0 %}
                                    <ul class="filter-dropdown">
                                        {% for cSub in pSub.children %}
                                            <li id="subject-{{ cSub.slug }}" data-type="child-sub">
                                                <a href="#" class="sort" data-parent="{{ pSub.slug }}" data-subject="{{ cSub.slug }}">
                                                <span class="tick tick-icon-bg">
                                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                                        <use xlink:href="#icon-cc-tick"></use>
                                                    </svg>
                                                </span>
                                                    {{ cSub.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {# languages #}
            {% if offLanguages is defined and offLanguages|length > 0 %}
                <li class="filter-languages">
                    <a href="#" class="filter-dropdown-toggle main-category">
                        By languages
                    <span class="arrow-up">
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span class="arrow-down">
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                    </a>
                    <ul class="main-filter-dropdown">
                        {% for language in offLanguages %}
                            <li id="lang-{{ language.name|lower }}">
                                <div class="tick-wrap">
                               <span class="tick tick-icon-bg">
                                    <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                        <use xlink:href="#icon-cc-tick"></use>
                                    </svg>
                                </span>
                                    <a href="#" class="filter-dropdown-toggle sub-category" data-lang="{{ language.name }}" data-type="lang"> {{ language.name  }} ({{ language.count }})</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% set pageName = 'na' %}
{% if page is defined %}
    {% set pageName = page %}
{% endif %}

<div class="js-sticky-in-parent-row" style="overflow: hidden;">
    {% render controller('ClassCentralSiteBundle:TextAd:showAds', {'pageName':pageName}) %}
</div>
