{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block content -%}
    <h1>Interview list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Summary</th>
                <th>Title</th>
                <th>Instructorname</th>
                <th>Instructorphoto</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('interview_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.summary }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.instructorName }}</td>
                <td>{{ entity.instructorPhoto }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('interview_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('interview_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('interview_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
